[submodule "Laboratorio_de_Sistemas_Digitais"]
path = Laboratorio_de_Sistemas_Digitais
url = https://github.com/gabrielGAGRA/Laboratorio_de_Sistemas_Digitais.git
[submodule "SPOOtify"]
path = Orientação a Objetos/SPOOtify
url = https://github.com/gabrielGAGRA/SPOOtify.git
