[submodule "Laboratorio_de_Sistemas_Digitais"]
	path = Laboratorio_de_Sistemas_Digitais
	url = ./Laboratorio_de_Sistemas_Digitais
[submodule "SPOOtify"]
	path = Orientação a Objetos/SPOOtify
	url = https://github.com/gabrielGAGRA/SPOOtify
